/* TODO Add site wide styles */
body {
  /* background-image: url('https://www.petplace.com/static/d4eb1d31d9e22d830a0097e3e8dcdf3d/98569/AdobeStock_142438416.jpg'); */
  background-image: url('https://www.detailedimage.com/photos/guide_home_image.jpg');
  height: 100%;
  /* background:grey; */
  /* overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory; */
  /* scroll-snap-align: center; */
  overflow: scroll;
  background-size: cover;
  background-attachment: fixed;
  /* background-position: center; */
  width: 100%;
  margin: 0px;
}
