.edit_form_outer_container {
    display:flex;
    overflow: scroll;
    width: 100%;
    margin: 0px;
    height: 100vh;
    justify-content: center;
    margin-bottom: 3.8em;
    flex-grow: 1;
    background-image: url("https://newsroom.porsche.com/.imaging/mte/porsche-templating-theme/image_1290x726/dam/pnr/2020/Scene-and-Passion/-GetCreativeWithPorsche/3-Richard-Tipper-/alcantra/b-Alcantara3-copy.jpg/jcr:content/b-Alcantara3%20copy.jpg");
}

.edit_form_inner_container {
    border: 3px solid #f1f1f1;
    height: fit-content;
    width: 50%;
    margin: 7em;
    padding: 10px;
    background-color:rgba(255,255,255,.5)
}
.changes_container {
    padding: .5em;
}
