.reviews_body {
  background-image: url('https://storage.googleapis.com/wordpress-www-vendasta/Top-14-Review-Sites-fb.jpg');
  height: 49em;
  overflow: scroll;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  margin: 0px;
}

.reviews_container {

}

.reviews_title {
  display: flex;
  justify-content: center;
}

.reviews {
  display: flex;
  justify-content: center;
  font-family: system-ui;
  font-weight: bold;
}

.reviews_ul {
  list-style-type: none;
  font-size: 18px;
  font-weight: bold;
}

.edit_review {
  color: black;
  text-decoration: none;
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  white-space: nowrap;
  border-radius: 24px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

/* .list_style_icon {
  padding: 1px;
} */

.fab {
  padding: 5px;
}

.fas {
  color: orangered;
}

.delete_review_container {
  margin-left: .7em;
}
