.reviews_body {
  background-image: url('https://storage.googleapis.com/wordpress-www-vendasta/Top-14-Review-Sites-fb.jpg');
  height: 49em;
  overflow: scroll;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  margin: 0px;
}

.reviews_container {

}

.reviews_title {
  display: flex;
  justify-content: center;
}

.reviews {
  display: flex;
  justify-content: center;
  font-family: system-ui;
  font-weight: bold;
}

.reviews_ul {
  list-style-type: circle;
  font-size: 18px;
  font-weight: bold;
}
