/* .reviews_outer_container {

} */

.review_body {
  background-image: url('https://cdn.pocket-lint.com/r/s/970x/assets/images/148310-tv-feature-what-order-should-you-watch-the-fast-and-furious-films-in-image1-rzgajwfo2x.jpg');
  height: 49em;
  overflow: scroll;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  margin: 0px;
}

.form_styling {
  font-family: 'Open Sans Condensed', arial, sans;
	width: 16.5em;
	padding: 30px;
	background: rgba(5, 5, 5, 0.7);
	margin: 1em;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

.submit_button {
  color: black;
  text-decoration: none;
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  text-align: center;
  white-space: nowrap;
  min-width: 144px;
  border-radius: 24px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
  margin-left: 6em;
}

.review_form_errors {
  color: red;
  font-weight: bold;
  margin-left: 1em;
}
